:root {
  --verdeEscuro: #042222;
  --verdeClaro: #a5ce0c;
  --verdeContraste: #092b2c;
}

main {
  display: flex;
  height: 90vh;
}

.esquerda {
  width: fit-content;
  height: 90vh;
}
.esquerda img {
  width: 400px;
  height: 100%;
  object-fit: cover;
  display: block;
}

.direita {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--verdeContraste);
}

.direita .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  color: #fff;
  text-align: center;
}

.container h1 {
  font-size: 3rem;
}

.container h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  background-color: var(--verdeEscuro);
  border: 2px solid #fff;
  color: #fff;
  transition: 0.3s;
}

.inputs p{
    margin: 10px 0;
    color: #fff;
}

.inputs a{
    text-decoration: none;
    color: var(--verdeClaro);
}

button {
  width: 100%;
  padding: 10px 0;
  background-color: var(--verdeClaro);
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

input:focus {
  border: 2px solid var(--verdeClaro);
  scale: 1.03;
}
